@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed)
@import url(http://fonts.googleapis.com/css?family=Play)
@import url(http://fonts.googleapis.com/css?family=Audiowide)
@import url(http://fonts.googleapis.com/css?family=Russo+One)
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css)


// font-family: 'Roboto Condensed', sans-serif
// font-family: 'Play', sans-serif
// font-family 'Audiowide', cursive
// font-family: 'Russo One', sans-serif

// Color set
c_gray = #212121
c_orange = #BF360C
c_orange_down = #FF7043
c_orange_up = #FF5722
c_white = #FAFAFA
c_green = #8BC34A
c_green_strong = #33691E

body
	background-color c_gray
	height 100%
	font-family 'Roboto Condensed', sans-serif
	
.logo
	position absolute
	width 50px
	height 50px	
	border-radius 50%
	top 16px
	
header
	color c_orange
	font-family 'Audiowide', cursive
	border-bottom 1px solid c_orange
	margin-bottom 30px
	padding-left 60px
	h1
		margin-bottom 0
		font-size 26px
	p
		font-size 13px
		margin-top 0
		color c_white
		span
			color c_orange
	nav	
		color c_white
		ul
			display none
		h4
			cursor pointer	
		// h4
		// 	margin-top 2px
		// 	margin-bottom 2px
		// 	&:hover + ul
		// 		display block
									
.content
	position absolute
	top 350px
	left 50%
	width 350px
	margin-left:-175px
	height 300px
	margin-top -150px


.content-items
	p
		background-color c_orange_up
		margin-bottom 10px
		padding 35px 25px
		text-decoration none
		font-size 18px
		color c_gray
		cursor pointer
		&:hover
			color c_white
		i
			padding-right 30px
			font-size 22px

.item
	display none
	background-color c_white
	padding 15px
	border-bottom 4px solid c_orange_up
	li
		list-style none
		padding 0.5em
		a
			text-decoration none
			color c_gray
			&:hover
				color c_orange	
	footer
			background-color c_orange_up
			width 20px
			height 20px
			padding 5px
			text-align center
			font-size 13px
			border-radius 50%
			line-height 20px
			margin-left 80%
			a
				text-decoration none
				color c_white

ul[data-item="search"]
	li
		display inline-block
		cursor pointer	
		&:hover
			color c_orange
		
.search-Mach
	display none
	padding-left 10px
	label
		color c_orange
	input
		height 25px
		font-size 16px
		padding-left 5px
		&:focus
			outline none
			border 1px solid c_orange_down						
				
.center
	margin-right auto
	margin-left auto
	text-align center
			
.login
	width 350px
	h2
		color c_white
	form
		padding-top 20px
	input
		width 250px
		height 35px
		text-align center
		background-color c_gray	
		border none	
		border-bottom 1px solid c_orange
		color c_white
		font-size 18px
		&:focus
			outline none
			border none;
			border-bottom 2px solid c_orange
			transition 1s ease-in-out
		&:hover
			transition 1s ease-in-out
			border-bottom 2px solid c_orange

	div
		padding-bottom 15px	
	button
		height 35px
		width 70px
		background-color c_orange
		border none;
		font-size 15px
		font-family 'Roboto Condensed', sans-serif
		border-radius 10px
		color c_white
		cursor pointer
		box-shadow 0px 2.5px 0 c_orange_up
		&:hover
			transition .5s ease-in-out
			background-color c_green
			color c_white
			box-shadow 0px 2.5px 0 c_green_strong
		&:focus
			border none
			outline none	
			transition .5s ease-in-out	
		

	

	

		
	
	

