@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed)
@import url(http://fonts.googleapis.com/css?family=Play)
@import url(http://fonts.googleapis.com/css?family=Audiowide)
@import url(http://fonts.googleapis.com/css?family=Russo+One)

// font-family: 'Roboto Condensed', sans-serif
// font-family: 'Play', sans-serif
// font-family 'Audiowide', cursive
// font-family: 'Russo One', sans-serif

// Color set
c_gray = #212121
c_orange = #BF360C
c_white = #FAFAFA
c_green = #8BC34A

body
	background-color c_gray
	
header
	color c_orange
	font-family 'Audiowide', cursive
	border-bottom 1px solid c_orange
	margin-bottom 30px
	h1
		padding-left 2%
	img 
		width 50px
		height 50px	
		border-radius 50%
		vertical-align bottom

.content
		position: absolute;
		top:50%;
		left:50%;
		width:350px;
		margin-left:-175px;
		height:300px;
		margin-top:-150px;
		
.center
	margin-right auto
	margin-left auto
	text-align center

.title
	font-family 'Audiowide', cursive
	color c_white
	font-size 20px
	h2, span
			color c_orange
	p
		margin-top -20px		
		
.container
	width 350px
	
	form
		padding-top 20px
	input
		width 250px
		height 35px
		text-align center
		background-color c_gray	
		border none	
		border-bottom 1px solid c_orange
		color c_white
		font-size 18px
		font-family 'Roboto Condensed', sans-serif
		&:focus
			outline none
			border none;
			border-bottom 2px solid c_white
			transition 1s ease-in-out
			background-color c_orange
		&:hover
			transition 1s ease-in-out
			background-color c_orange	
	div
		padding-bottom 15px	
	button
		height 35px
		width 70px
		background-color c_orange
		border none;
		font-size 15px
		font-family 'Roboto Condensed', sans-serif
		border-radius 15px
		color c_white
		&:hover
			transition 1s ease-in-out
			background-color c_green
		&:focus
			border none
			outline none	
			transition 1s ease-in-out	
		

	

	

		
	
	

